{
    "rules": {
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": [0],
        "no-debugger": [1]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "jQuery": true,
        "ajaxurl": true
    },
    "extends": "eslint:recommended"
}
